<h4>Ordenes para entregar hoy:</h4>

<h4>
    <strong>
      <label for="hoy">{{today | date:'dd-MM-yyyy'}}</label>
    </strong>
</h4>
<hr />
<table id="myDataTable" class="table table-sm table-striped table-bordered table-hover">
    <thead style="font-size: 14px;">
        <tr>
            <th>COD ORDEN</th>
            <th>RUT CLIENTE</th>
            <th>NOMBRE CLIENTE</th>
            <th>ESTADO ORDEN</th>
        </tr>
    </thead>
    <tbody style="font-size: 14px;">
        <tr>
            <td><strong><a href="#">{{id1}}</a></strong></td>
            <td>123456789</td>
            <td>Juan</td>
            <td>Pendinte</td>
        </tr>
        <tr>
            <td><strong><a href="#">{{id2}}</a></strong></td>
            <td>123456789</td>
            <td>Juan</td>
            <td>Pendinte</td>
        </tr>
        <tr>
            <td><strong><a href="#">{{id3}}</a></strong></td>
            <td>123456789</td>
            <td>Pedro</td>
            <td>Pendinte</td>
        </tr>
        <tr>
            <td><strong><a href="#">{{id4}}</a></strong></td>
            <td>123456789</td>
            <td>Diego</td>
            <td>Pendinte</td>
        </tr>
        <tr>
            <td><strong><a href="#">{{id5}}</a></strong></td>
            <td>123456789</td>
            <td>Luis</td>
            <td>Pendinte</td>
        </tr>
    </tbody>
</table>
